h1,p{
    color: pink;
    font-family: 'Roboto', sans-serif;
}
#flash_name{
    color: blue;
    font-family: 'Roboto', sans-serif;
}
#flash_def{
    color: hotpink;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(blue,lightblue);
}
html{
    height: 100%;
}

#navbar-home-link{
    color: #7991ff;
    font-weight: bold;
    font-size: 30px;
}

.btn{
    width: 150px;
    height: 70px;
    display: inline;
    justify-content: center;
}

.card-title{
    color: darkslategray;
}

.card-text{
    color: gray;
}

#create-acct-btn, #login-btn{
    display:inline-block;
}

.speed{
    animation-duration: 1s;
}

.flashcard{
    cursor: pointer;
}
