{% extends 'base.html' %}
{% load static %}

{% block title %}
    QuizMaster login
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h1>Login</h1>
                        <form action="{% url 'login' %}" method="post" novalidate>
                            {% csrf_token %}
                            {{ form }}
                            <div class="d-grid gap-2 my-3 ">
                                <button class="btn btn-primary btn-lg" type="submit"><i class="fas fa-sign-in-alt"></i>
                                    Login
                                </button>
                                <hr>
                                <a href="{% url 'register' %}" class="btn btn-success btn-lg"><i
                                        class="fas fa-plus"></i> Create a new account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}